# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.bak

# Python cache
.pytest_cache/

# Environment files
.env.*

# Coverage
.coverage
htmlcov/